body {
  background: #d8d8d8;
}

.social-menu ul {
  position: absolute;
  top: 25%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex; /* ********* */
}

/* social-menu 바로 밑에 있는 ul 하나에만 적용 */
.social-menu > ul li {
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: 0.3s;
  color: black;
}

.social-menu ul li a {
  position: relative;
  display: block; /* flex를 햇기때문에 그럼에도 가로로 나옴*/
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center; /* 아이콘이 가운데 오게 */
  transition: 0.6s; /*트랜지션에 대해 0.6초*/
  box-shadow: 0 5px 4px rgb(0,0,0,0.5);
}

.social-menu ul li a:hover {
  transform: translate(0,-15%); /*15% 위로 올리기 */
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #e405ff;
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: rgba(151, 218, 63, 0.5);
}

.social-menu ul li:nth-child(4) a:hover {
  background-color: rgba(52, 96, 240, 0.5);
}