
body {
  background-color: pink;
}

.box1 {
  height: 60px;
  margin-top: 50px;
  margin-left: 100px;
  padding: 20px;
  animation-name: moving;
  animation-duration: 3s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
.box2 {
  position: absolute;/**********/
  width: 100px;
  height: 60px;
  color: #fff;
  background-color: black;
  animation-name: left-right;
  animation-duration: 2s;
  animation-duration: leaner;
  animation-direction: alternate;
  animation-iteration-count: 3; /*3회 반복*/
  animation-fill-mode: forwards;
}

@keyframes moving {
  from {
    width: 200px;
    background-color: rgb(222, 167, 135);
    opacity: 0.5;
    transform: scale(0.5) rotate(15deg);
  }
  to {
    width: 400px;
    background-color:  rgb(165, 62, 2);
    opacity: 1.0;
    transform: scale(1) rotate(0deg);

  }
}

@keyframes left-right {
  0% {
    background-color: black;
    left: 100px;
  }
  50% {
    background-color: gray;
    left: 250px;
  }
  100% {
    background-color: black;
    left: 500px;
  }
}

h1 span {
  position: relative;
  top: 200px;
  display: inline-block;
  /* animation: name duration timing-function delay iteration-count direction file mode*/
  animation: bounce 0.3s ease infinite alternate; 
  /* animation-name: bounce; */
  font-family: "맑은 고딕", 궁서체;
  font-size: 80px;
  color: white;
  text-shadow: 0 1px 0 #ccc,
                0 2px 0 #ccc,
                0 3px 0 #ccc,
                0 4px 0 #ccc,
                0 5px 0 #ccc,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 0 rgb(0,0,0,0.4);

}

h1 span:nth-child(2) { animation-delay: .1s; }
h1 span:nth-child(3) { animation-delay: .2s; }
h1 span:nth-child(4) { animation-delay: .3s; }
h1 span:nth-child(5) { animation-delay: .4s; }

@keyframes bounce {
  100% {
    top: 170px; /*원래 위치 200px에서 170px로 움직이는 */
    text-shadow: 0 1px 0 #CCC,
                  0 2px 0 #CCC,
                  0 3px 0 #CCC,
                  0 4px 0 #CCC,
                  0 5px 0 #CCC,
                  0 6px 0 #CCC,
                  0 7px 0 #CCC,
                  0 8px 0 #CCC,
                  0 9px 0 #CCC,
                  0 50px 25px rgba(0, 0, 0, .2);
                  /*번짐이 없다가 25px만큼 번짐 마지막에 나오게 */
  }
}